.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image {
  width: 280px;
  margin-bottom: 30px;
}

.input-container {
  display: flex;
  align-items: center;
}

.search-icon {
  align-items: center;
  width: 20px;
}

.search-input {
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.tooltip-icon {
  font-size: 15px;
  color: gray;
  margin-left: 10px;
}
