.ant-descriptions-item-label.generic-info-item {
  text-align: center;
}

.ant-descriptions-item-content.generic-info-item {
  text-align: center;
}

.generic-info-text {
  display: inline-block;
  vertical-align: middle;
}
