.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.loading-spinner {
  margin-top: 16px;
  font-size: 18px;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.title-align {
  text-align: center;
}
